//* {
//  margin: 0;
//  padding: 0;
//  box-sizing: border-box;
//}

nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
  color: #fff;
}

a:hover {
  color: #3498db;
  border-bottom-color: #3498db;
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}
header {
  //position: fixed;
  //width: 100%;
  background-color: #80a3db;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  color: #fff;
}
@keyframes fadein {
  100% {
    opacity: 1;
  }
}

header nav {
  display: flex;
  margin-right: 150px;
}

header h2 {
  font-family: "Quick sand", sans-serif;
}

header nav li {
  margin: 0 15px;
}

//Hero styles
.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #80a3db;
}
.hero h1 {
  font: bold 60px "Open Sans" , sans-serif;
  margin-bottom: 15px;
}
.hero h3 {
  font: normal 28px "Open Sans", sans-serif;
  margin-bottom: 40px;
}
.hero a.btn {
  padding: 2px;
}

.hero-content-area {
  opacity: 0;
  margin-top: 50px;
  animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}




@media screen and (max-width: 920px) {
  nav {
    justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
    background: aqua;
  }
}
