<!--<button mat-button routerLink="/me" >About me</button>-->
<!--<button mat-button routerLink="/blog" >Blog</button>-->
<!--<button mat-button routerLink="projects">Projects</button>-->

<header>
  <h2><a mat-button routerLink="/">nhanth.dev</a></h2>
  <nav>
    <li><a mat-button routerLink="/me">About me</a></li>
    <li><a mat-button routerLink="/blog">Blog</a></li>
    <li><a mat-button routerLink="/projects">Projects</a></li>
  </nav>
</header>

<section class="hero">
  <div class="background-image" style="background-image: url(./assets/images/laptop-page.jpg);"></div>
  <div class="hero-content-area">
    <h1>Welcome</h1>
    <h3>Thank you for visiting my page.</h3>
  </div>
</section>
