---
import Layout from '../layouts/BlogPost.astro';
heroImage: '/2023-12-24_Summary-2023.jpg'
---


<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('December 12 2023')}
	heroImage="/2023-12-12_About.jpg">
	<p>
		Hello, thank you for stopping by. My name is Nhân, I am a software developer.
		A little about me, <br/> 
		Five years ago, I worked for a furniture company. 
		Then I moved to a local bank. 
		From there, I had the opportunity to learn more deeply about infrastructure and development. 
		It was a great place, I could say. <br/>
		My stack is .NET 7, Flutter, Python (Flask), SQL, Angular, Docker.
		Thank you and have a great day!
	</p>
	<p>Hi, cảm ơn bạn đã ghé trang webapp của mình.
	Đây là nơi mình mong muốn chia sẽ những kinh nghiệm khi còn là Software Developer.</p>
</Layout>
