section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}

//Hero styles
.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #80a3db;
}
.hero h1 {
  font: bold 60px "Open Sans" , sans-serif;
  margin-bottom: 15px;
}
.hero h3 {
  font: normal 28px "Open Sans", sans-serif;
  margin-bottom: 40px;
}
.hero a.btn {
  padding: 2px;
}

.hero-content-area {
  opacity: 0;
  margin-top: 50px;
  animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}
